.habbo-perfil-container {
  display: flex;
  background: #fff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  width: 600px;
}

.habbo-perfil {
  margin-top: 1rem;
}

.habbo-perfil-data {
  margin-right: 0.5rem;
}

.habbo-perfil-image {
  margin-left: -1rem;
}
